body {
  font-family: Verdana, sans-serif;
  background-color: #10131a;
  text-align: center;
  margin: 25px auto;
  font-size: 1.1em;
  color: #eee;
  line-height: 1.6em;
}

video {
  width: 800px;
  height: 450px;
  border-radius: 10px;
  margin: 20px;
}

.focusable {
  color: #0000EE;
  cursor: pointer;
  text-decoration: underline;
}

.ver {
  margin-left: 20px;
  color: #cf0000;
}

.ver:link,
.ver:visited {
  color: #ffda35;
  text-decoration: none;
}
