body {
    background-color: #10131a;
    text-align: center;
    margin: 10px auto;
    font-size: 1.2em;
    color: #eee;
}

video {
    width: 800px;
    height: 450px;
    border-radius: 10px;
    margin: 20px;
}

.focusable {
    color: #0000EE;
    cursor: pointer;
    text-decoration: underline;
  }

.ver {
  margin-right: 10px;
}
