.btn {
    border-width: 2px !important;
}

.btn:hover,
.btn:focus,
.btn:active {
    color: #111 !important;
    /* font-weight: bold !important; */
    background-color: #e5ff00 !important;
    border: 2px solid black !important;
}

video {
    height: 400px !important;
}

video::-webkit-media-controls-panel {
    display: flex !important;
    opacity: 1 !important;
}

.nav {
    width: 400px !important;
}

.nav-link {
    padding: 3px 15px 1px 15px !important;
    border: 1px solid #a2d4ff !important;
}

.nav-link.active {
    background-color: #f0f8ff !important;
    border-bottom: 1px solid #f0f8ff !important;
}

.nav-tabs {
    border-bottom: none !important;
    width: 400px !important;
}

.px-10 {
    padding-left: 7.7rem !important;
    padding-right: 7.7rem !important;
}

.py-1px {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.nav_button {
    border: 1px solid #96ceff !important;
    border-bottom: 1px solid #a2d4ff !important;
    background-color: #d2ecff !important;
    color: black !important;
    margin-bottom: -1px;
    padding: 2px !important;
}

.nav_button.active {
    border: 1px solid #a2d4ff !important;
    border-bottom: 1px solid #f0f8ff !important;
    background-color: #f0f8ff !important;
    font-weight: 900 !important;
}

.nav_button:focus,
.nav_button.active:focus {
    border: 1px solid #2d9dff !important;
    border-bottom: 1px solid #f0f8ff !important;
    background-color: #f0f8ff !important;
    color: #8a0000 !important;
}

.nav_button:hover,
.nav_button.active:hover {
    border: 1px solid #a2d4ff !important;
    border-bottom: 1px solid #f0f8ff !important;
    background-color: #fffd81 !important;
    color: #222 !important;
}

.font-sm {
    font-size: 14px !important;
}

.list-group-item.focusable:hover,
.list-group-item.focusable:focus {
    background-color: #fffd81 !important;
    border: 1px solid #dee2e6 !important;
    border-top-width: 0 !important;
}

.container-xxl {
    max-width: 1500px !important;
    border: 1px solid #a2d4ff !important;
    background-color: #f0f8ff !important;
}

.container-sm {
    max-width: 830px !important;
    border: 1px solid #a2d4ff !important;
    background-color: #f0f8ff !important;
}

.custom-switch {
    width: 45px !important;
    height: 25px !important;
}

